a:hover {
	text-decoration: none;
}
a {
	color: #000;
}
.search-link {
	border-radius: 4px;
	padding: 4px 10px;
}
.search-link:hover {
	background-color: #f8f8f8;
	border-radius: 4px;
	padding: 4px 10px;
}
.category-select {
	margin-left: 10px;
	margin-right: 40px;
}
.pagination {
	justify-content: center;
}
.pagination-wrapper {
	align-items: center;
}
.pagination-wrapper > div {
	display: flex;
	align-items: center;
}
.pagination-wrapper > div label {
	width: 30%;
}
#page-number {
	background-color: #e91e63;
	color: #fff;
	padding: 2px 20px 2px 5px;
	font-size: 20px;
}
#current-page {
	background-color: #4caf50;
	font-size: 20px;
}
.slick-slide img {
	margin: 0 auto;
}
.slick-prev,
.slick-next {
	background-color: transparent;
}
.slick-prev:before,
.slick-next:before {
	color: #e91e63;
	font-size: 40px;
}
h5.text-center.big.card-title {
	font-size: 28px;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
#spinner {
	display: none;
	position: fixed;
	min-width: 100vw;
	min-height: 100vw;
	background: #0006;
	z-index: 9999;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	font-size: 60px;
}
#spinner > div {
	width: 100%;
	margin: calc((100vh - 60px) / 2) auto;
	text-align: center;
}
#spinner svg {
	animation: spin 2s infinite linear;
}
/* ====  MovieList  ===== */
.carousel.slide {
	margin: 40px 0;
}
.carousel-item.active img {
	width: 100%;
}
.img-wrapper {
	position: relative;
}
.avr-vote {
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 2px 5px;
	display: flex;
	align-items: center;
	color: #fff;
}
.avr-vote svg {
	color: #ffc107;
	margin-right: 3px;
}
.list-title i {
	width: 3px;
	height: 20px;
	margin-right: 8px;
	color: red;
	display: inline-block;
	background-color: rgb(16, 95, 152);
}
.slick-prev,
.slick-next {
	z-index: 99;
}
@media screen and (max-width: 768px) {
	.slick-slide img {
		width: 100%;
	}
	.slick-prev,
	.slick-next {
		display: none !important;
	}
}
